<app-header></app-header>
<html>
  <br>
  <a href="http://localhost:4200/menu">Back to Menu</a>
    <button mat-button (click)="openDialog()" color="primary"><b>Bar Chart</b></button>
    <br><br>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Details of Entries
          </mat-panel-title>
          <mat-panel-description>
            Please click this to see the details
          </mat-panel-description>
        </mat-expansion-panel-header>
  <div class="mat-elevation-z8" id="collapseExample">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" matSortActive="TimeStamp" matSortDirection="desc" matSortDisableClear>
    <!-- Position Column -->
    <ng-container matColumnDef="TimeStamp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> TimeStamp </th>
      <td mat-cell *matCellDef="let element"> {{element.TimeStamp}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="Flow">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Flow </th>
      <td mat-cell *matCellDef="let element"> {{element.Flow}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Pressure">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Pressure </th>
      <td mat-cell *matCellDef="let element"> {{element.Pressure}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
</mat-expansion-panel>
</html>


