<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <ul>
    <li><a href='http://localhost:4200'>HOME</a></li>
    <li><a href='http://localhost:4200/login'>LOGIN</a></li>
    <li><a href='http://localhost:4200/table-display'>TABLE</a></li>
    <li><a href='http://localhost:4200/chart-display'>CHART</a></li>
  </ul>
</body>
</html>
